# VS Code files for those working on multiple tools
.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/

# Twitter API credentials file
twitter_credentials.json

# A merge of all Twitter data
data/twitter_data.json
